* {
  box-sizing: border-box;
}

html {
   /* changes default font size to measure
      .1rem == 1px */
   font-size: 62.5%;
   font-family: sans-serif;
 }
body {
   font-size: 1.4rem;
   margin: 0;
 }
  /* Menu bar at the top of page*/
 .menuBar {
   margin-top: 1rem;
   margin-bottom: 1rem;
 }

 .menuBar__logo {
   text-transform: uppercase;
   color: rgb(71, 71, 71);
   text-decoration: none;
   padding: 1.5rem;
 }

.menuBar__standard {
  color: rgb(87, 87, 87);
  text-decoration: none;
  padding: 1.5rem;
}

.menuBar_pricing {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 1.5rem;
}
  /* Responsive image with text above*/
.topImage {
  position: relative;
  height: 20rem;
  overflow: hidden;
}

.topImage__pic {
  position: absolute;
}

.topImage__title  {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  z-index: 1;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-align: center;
  text-shadow: 2px 2px 1px rgba(50, 50, 50, 1);
}

/* This is the section for the articles containing price and details.*/
.pricingDetail {
  position: relative;
  text-align: center;
}
.pricingDetail__box {
  height: 54rem;


}
.pricingDetail__box--level {
  font-size: 1.7rem;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 0;
}
.pricingDetail__box--price {
  font-size: 10rem;
  line-height: 1;
  font-weight: 300;
  margin: 1rem;
}
.pricingDetail__box--perMonth {
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.5);
}
.pricingDetail__box--list {
  list-style: none;
  padding: 0;
  margin: 0;

}
.pricingDetail__box--list li {
  border: .5px solid rgba(50, 50, 50, 0.3);
  line-height: 2.5;
  background-color: rgb(242, 242, 242);

}

.chooseBox {
  height: 8rem;
  padding: 2.8rem;
  border: 1px solid rgba(50, 50, 50, 0.3);
}

.clickChoose {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 600;
  border: 1px solid rgba(50, 50, 50, 0.3);
  border-radius: 2rem;
  padding: .6rem 1.1rem .6rem 1.1rem;

}
 /* This  section handles the color on the individual articles*/
.background__personal{

  color: rgb(255, 255, 255);
  background-color: rgb(77,145,88);
  margin-top: 4rem;
  padding: 3.2rem;
}

.background__sb{

  color: rgb(255, 255, 255);
  background-color: rgb(45,74,129);
  margin-top: 4rem;
  padding: 3.2rem;
}

.background__enterprise{

  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  margin-top: 4rem;
  padding: 3.2rem;
}
 /*-----------*/
 /*-----------*/


.secondaryInfo {
  position: relative;
  text-align: justify;
  margin-top: 3rem;
}
.secondaryInfo__box {
  padding: 2.5rem 3rem 2rem 3rem;

}

.secondaryInfo__title {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
}

.secondaryInfo__text {
 color: rgba(0, 0, 0, 0.7)
 margin-top: 0;
}

/* footer specifications*/
.endOfPage {
  color: rgba(255, 255, 255, 0.4);
  background-color: rgb(0, 0, 0);
  margin-top: 4rem;
  padding: 2.5rem;
  text-align: center;
}

.endOfPage_link {
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-decoration: none;
}


/* This area is set to 480p and above*/

@media only screen
 and (min-width: 480px){

   .topImage {

     height: 40rem;
     overflow: hidden;
   }
     .topImage__title  {
       top: 0;
       right: 0;
       left: 0;
       padding-top: 14rem;
       padding-left: 5rem;
       padding-right: 5rem;
       z-index: 1;
       font-size: 3rem;
       color: rgb(255, 255, 255);
       font-weight: 400;
       text-align: center;
       text-shadow: 2px 2px 1px rgba(50, 50, 50, 1);
     }
     .endOfPage {
       padding-left: 4.5rem;
       padding-right: 4.5rem;
     }

}
