* {
  box-sizing: border-box;
}

html {
   /* changes default font size to measure
      .1rem == 1px */
   font-size: 62.5%;
   font-family: sans-serif;
 }
body {
   font-size: 1.4rem;
   margin: 0;
 }

 .menuBar {
   margin-top: 1rem;
   margin-bottom: 1rem;

 }

 .menuBar__logo {
   text-transform: uppercase;
   color: rgb(51, 51, 51);
   text-decoration: none;
   padding: 1.5rem;
 }

.menuBar__standard {
  color: rgb(77, 77, 77);
  text-decoration: none;
  padding: 1.5rem;
}

.menuBar_pricing {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 1.5rem;
}

.topImage {
  position: relative;
  height: 15rem;
  overflow: hidden;
}

.topImage__pic {
  position: absolute;
  width: 100%;


}

.topImage__title  {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  z-index: 1;
  font-size: 2.2rem;
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-align: center;
}
